<tr click="detail($event)">
    <td>{{ item.id }}</td>
    <td>{{ item.typePresta }}</td>
    <td>{{ item.client }}</td>
    <td>{{ item.tauxTva + '%' }}</td>
    <td>{{ item.nbJours }}</td>
    <td>{{ item.tjmHt | currency: 'EUR' }}</td>
    <!--
      <td>{{ item.totalHt() | currency:'EUR':true }}</td>
      Really bad idea: À chaque modification de la vue, la fonction sera appelée autant de fois... Lifecycle
       Préférer les PIPES `|`, ils ne rentrent pas dans le cycle de vie et ne sont donc appelés qu'une seule fois
    -->
    <td>{{ item | total | currency: 'EUR' }}</td>
    <td>{{ item | total: item.tauxTva | currency: 'EUR' }}</td>
    <td [appState]="item.state">
      <!--
        attribut `name` est important
        [(ngModel)]="item.state" permet de récupérer la valeur et de la sélectionner automatiquement
       -->
      <select name="state" (change)="changeState($event)" [(ngModel)]="item.state" (click)="$event.stopPropagation();">
        <!--
          Une autre façon de faire, mais plus compliquée
          <option [value]="item.state">{{ item.state }}</option>
        <ng-container *ngFor="let state of states">
          <option *ngIf="item.state !== state" [value]="state">{{ state }}</option>
        </ng-container> -->
        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
      </select>
    </td>
    <td>
      <a (click)="$event.stopPropagation(); deletePresta(item)"><fa-icon [icon]="faTrash"></fa-icon></a>
      <a (click)="$event.stopPropagation(); " [routerLink]="['edit', item.id]"><fa-icon [icon]="faEdit"></fa-icon></a>
    </td>
  </tr>
