<tr>
    <td>{{ item.id }}</td>
    <td>{{ item.typePresta }}</td>
    <td>{{ item.client }}</td>
    <td>{{ item.tauxTva + '%' }}</td>
    <td>{{ item.nbJours }}</td>
    <td>{{ item.tjmHt | currency: 'EUR' }}</td>
    <!--
      <td>{{ item.totalHt() | currency:'EUR':true }}</td>
      Really bad idea: À chaque modification de la vue, la fonction sera appelée autant de fois... Lifecycle
       Préférer les PIPES |, ils ne rentrent pas dans le cycle de vie et ne sont donc appelés qu'une seule fois
    -->
    <td>{{ item | total | currency: 'EUR' }}</td>
    <td>{{ item | total: item.tauxTva | currency: 'EUR' }}</td>
    <td class="state-confirme">
      <select (change)="changeState($event)">
        <option [value]="item.state">{{ item.state }}</option>
        <ng-container *ngFor="let state of states">
          <option *ngIf="item.state !== state" [value]="state">{{ state }}</option>
        </ng-container>
      </select>
    </td>
  </tr>
